.container {
  width: 800px;
  height: auto;
  display: block;
  margin: 25px auto;
  border-radius: 8px;
  box-shadow: 20px 27px 67px 25px rgba(67, 38, 175, 0.262);
  padding: 30px;
}

.section {
  margin: 30px auto;
}

header {
  margin: 20px auto;
  text-align: center;
}
