.container {
  width: 500px;
  height: auto;
  display: block;
  margin: 25px auto;
  border-radius: 8px;
  box-shadow: 19px 27px 67px 13px rgba(71, 27, 175, 0.57);
  padding: 30px;
}

.btn {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0px 10px;
  cursor: pointer;
  border: none;
  background-color: #2eb667;
  font-weight: 700;
}
